.b-contacts {
  &__content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    margin-top: 3%;
    width: 30%;
    margin-right: 8%;
  }

  &__link {
    color: $accent;
    display: flex;
    margin-bottom: 12%;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      i {
        @extend .animate;
      }
      span {
        color: $accent;
      }
    }
  }

  &__text {
    color: $text;
    margin-left: 10%;
    transition: color .3s;
  }
}
