.b-nav {
  margin: 1% 0;
  display: flex;
  align-items: center;
  height: #{$headerHeight}px;
  width: 100%;
  @media (max-width: 1100px) {
    height: auto;
  }
  &--footer {
    margin-top: 0;
    margin-bottom: 2%;
  }
  &__logo {
    height: #{$headerHeight}px;
    width: 100px;
  }
  &__menu {
    margin-left: 10%;
    @media (max-width: 1100px) {
      margin-left: auto;
    }
  }
  &__link {
    color: $darken;
    margin-right: 30px;
    transition: color .3s;
    position: relative;
    &::after {
      display: block;
      content: " ";
      height: 2px;
      width: 0;
      left: 50%;
      bottom: -2px;
      position: absolute;
      transition: width .3s ease-in-out;
      transform: translateX(-50%);
      background: $accent;
    }
    &:hover {
      color: $accent;
      &::after {
        width: 100%;
      }
    }
    &--footer {
      color: $light;
      &::after {
        background: #fff;
      }
      &:hover {
        color: $light;

      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__contacts {
    margin-left: auto;
    display: flex;
    align-items: center;

  }
  &__phones {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    @media (max-width: 1100px){
      display: none;
    }
  }
  &__phone {
    color: $darken;
    margin-bottom: 10px;
    @extend .semi;
    position: relative;
    &::after {
      display: block;
      content: " ";
      height: 2px;
      width: 0;
      left: 50%;
      bottom: -5px;
      position: absolute;
      transition: width .3s ease-in-out;
      transform: translateX(-50%);
      background: $accent;
    }
    &:hover {
      color: $accent;
      &::after {
        width: 100%;
      }
    }
    &--footer {
      color: $light;
      &::after {
        background: $light;
      }
      &:hover {
        color: $light;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__social {
    color: $accent;
    margin-right: 20px;
    transition: color .3s;
    &:hover {
      color: $hover;
      i {
        @extend .animate;
      }
    }
    &--footer {
      color: $light;
      &:hover {
        color: $light;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
